# exclude compiled binaries and external models
bin/*
*.pyc

# exclude data from data folder by default
data/*
# keep data folder
!data/.gitkeep

# exclude outcomes (results, logs) produced by running script
*/keys/*
*.csv
*.txt

# exclude source control
src/frozen_east_text_detection.pb
