# exclude compiled binaries and external models
bin/*
.vscode/*
*.pyc

# exclude data from data folder by default
data/*
# keep data folder structure
!data/.gitkeep
!data/raw/.gitkeep
!data/temp/.gitkeep
!data/processed/.gitkeep


# double precaution: exclude any outcomes (results, logs) produced by running script
*.json
/**/*.json
*.csv
/**/*.csv
*.txt
/**/*.txt
# keep requirements file
!requirements.txt

# exclude source control
src/frozen_east_text_detection.pb
